[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

Flask = "*"
flask-sqlalchemy = "*"
selenium = "*"
requests = "*"
beautifulsoup4 = "*"
chromedriver_installer ="*"
psycopg2 = "*"

[requires]

python_version = "3.6"
